# Files to ignore when considering what GIT should commit.

# Shader state debug image dumps
neo/*.tga

# Map compile artifacts
neo/mapsrc/*.bsp
neo/mapsrc/*.prt
neo/mapsrc/*.vmx

# These files exist in the main neo repo now, for more info see:
# https://github.com/NeotokyoRebuild/neo/pull/1430
*.vbsp
*.rad
*.fgd

# Object files
*.o
*.p

# Emacs style backup files
*~

# Git for Windows editor crash
*.exe.stackdump

# VSCode
*.vscode/

# Visual Studio
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.sln
*.vcxproj.filters
*.vcxproj.vpc_crc
*.vpc.sentinel
*.rsp
.vs/
